<form method="post" action="editCategory" enctype="multipart/form-data">
    <div id="divEditCateg" style="display:none">
        <div class="box-body">
            <div class="form-group">
                <label for="txtCategoryName">Category name</label>
                <input type="text" class="form-control" id="editCategoryName" name="editCategoryName" placeholder="Enter Category" required>
                <input type="text" id="catId" name="catId" value="" hidden />
            </div>
            <div class="form-group">
                <label for="inpImage">Category image</label>
                <input type="file" name="inpImageEdit">
                <p class="help-block"></p>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="reset" class="btn btn-primary" onclick="cancelEdit()">Cancel</button>
        </div>
    </div>
    </form>
