@model IEnumerable<SellDeer.DataModel.Category>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/AdminLayout/_LayoutOwner.cshtml";
}

<script>
    $(document).ready(function () {
        getSubCateg();

        $("#ddlCategoryNameAdd").on("change", function () {
            getSubCateg();
        });

        function getSubCateg() {
            debugger;
            var cat_val = document.getElementById("ddlCategoryNameAdd").selectedOptions[0].value;
            $.ajax(
            {
                url: '@Url.Action("/getSubcategoryForProduct")',
                type: 'GET',
                data: { catgId: cat_val },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var htm = '<option  value="0">None</option>';
                    data.forEach((item) => {
                        //var line = "" + item.id + ",&quot;" + item.sub_cat_name + "&quot;," + item.cat_id;
                        htm += "<option value=" + item.id + ">" + item.sub_cat_name + "</option>";
                    })
                    var ddl = document.getElementById("ddlSubcategoryNameAdd");
                    ddl.innerHTML = htm;
                    return ("done");
                },
                error: function (data) {
                    return ("error");
                }
            });
        }
    });

</script>

<h2>Products</h2>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                </div><!-- /.box-header -->
                <!-- form start -->
                <form method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="ddlbrandAdd">Brand</label>
                            @Html.DropDownList("ddlbrandAdd", (IEnumerable<SelectListItem>)ViewBag.brand)
                        </div>
                        <div class="form-group">
                            <label for="ddlCategoryNameAdd">Category name</label>
                            @Html.DropDownList("ddlCategoryNameAdd",(IEnumerable<SelectListItem>)ViewBag.catg,new { id = "ddlCategoryNameAdd" })
                        </div>
                        <div class="form-group">
                            <label for="ddlSubcategoryNameAdd">Subcategory name</label>
                            <select id="ddlSubcategoryNameAdd" name="ddlSubcategoryNameAdd">
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtProductNameAdd">Product name</label>
                            <input type="text" class="form-control" name="txtProductNameAdd" placeholder="Product name" required>
                        </div>
                        <div class="form-group">
                            <label for="txtProductPriceAdd">Price</label>
                            <input type="text" class="form-control" id="txtProductPriceAdd" name="txtProductPriceAdd" placeholder="Price" required>
                        </div>
                        <div class="form-group">
                            <label for="txtProductDiscriptionAdd">Product discription</label>
                            @Html.TextArea("txtProductDiscriptionAdd",new { @class= "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="inpImage">Product image</label>
                            <input type="file" id="inpImage">
                            <p class="help-block"></p>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Products</h3>
                                    <div class="box-tools">
                                        <div class="input-group">
                                            <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />
                                            <div class="input-group-btn">
                                                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tr>
                                            <th>Product name</th>
                                            <th>Brand</th>
                                            <th>Category</th>
                                            <th>Price</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tr>
                                            <td>183</td>
                                            <td>John Doe</td>
                                            <td>11-7-2014</td>
                                            <td>11-7-2014</td>
                                            <td><span class="label label-success">Approved</span></td>
                                            <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
            <!-- Form Element sizes -->

        </div>
    </div>
</section>
